<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
<h1>Форма регистрации</h1>
{% for cat,msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{msg}}</div>
{%endfor%}
<form action="#" method="POST">
    <p>Логин <input type="text" name="login"></p><br>
    <p>Электронный адресс <input type="text" name="email"></p><br>
    <p class="block"><span class="tooltip" data-title="Используйте маловероятные или кажущиеся случайными комбинации прописных и строчных букв, цифр и символов.">Пароль</span><input type="text" name="password"></p><br>
    <p>Подтверждение пароля <input type="text" name="confirm_password"></p><br>
    <input type="submit" value="Регистрация" name="registration">
</form>

</body>
</html>