<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Форма регистрации</h1>
<form action="#" method="POST">
    <p>Никнейм <input type="text" name="nickname"></p><br>
    <p>Электронный адресс <input type="text" name="email"></p><br>
    <p>Пароль <input type="password" name="password"></p><br>
    <p>Подтверждение пароля <input type="password" name="confirm_password"></p><br>
    <input type="submit" value="Регистрация" name="registration">
</form>

</body>
</html>